/*  your css code here. If applicable */
:root{
    background-color: rgb(135, 206, 235);
}
p:first-child{
    background-color: black;
    color: white;
}
p:nth-child(2){
    color:black;
}
p:nth-child(4){
    color: red;
}
/* p:last-child{
	color:red;
} */

ul>li{
    background-color: grey;
    width: 50%;
    padding:10px;
}
li:nth-child(odd){
    background-color: white;
}
li:first-child,li:last-child{
    font-size: 22px;
}
li:nth-child(3){
    background-color: pink;
}